/* ▼カレンダー */

/* ▲カレンダー */

/* ▼ボタン */
.btn-task {
  margin-right: 10px;
}
/* ▲ボタン */

/* ▼タスク表示 */
.container {
  width: 79vw;
  height: 84vh;
  overflow-x: scroll;
}
.tasks-all-container {
  display: flex;
}

.tasks-column {
  height: 100%;
  border-right: 1px solid gray;
  overflow-y: scroll;
}
.new-task-card {
  margin: auto;
}

.card-title {
  width: 90%;
}
.task-title-container {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-group {
  margin-bottom: 1rem;
}
.item-name {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 700;
  box-sizing: border-box;
}
/* ▲タスク表示 */

/* ▼更新taskフォーム関連 */
.edit-form {
  display: none;
}
/* ▲更新taskフォーム関連 */
/* ▼削除フォーム(ボタンのみ)関連 */
.delete-form {
  display: inline-block;
}
/* ▲削除フォーム(ボタンのみ)関連 */
/* ▼新規taskフォーム関連 */

.form-text-area {
  min-height: 6rem;
}
/* ▲新規taskフォーム関連 */